@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Global */

html {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.9);
}

body {
    line-height: 1.4;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "home-hero home-hero home-hero home-hero"
        "services services services services"
        "portfolio portfolio portfolio portfolio"
        "invite invite invite invite"
        "connect connect connect connect"
        "footer footer footer footer";
}

.section-head {
    text-align: center;
    padding-top: 5vh;
    font-size: 3rem;
}

/* Header */

header {
    background: rgb(0, 0, 0);
    height: 60px;
    width: 100vw;
    position: fixed;
}

header h1 {
    font-size: 1.5rem;
    float: left;
    line-height: 30px;
    margin-left: 2.5rem;
}

header span {
    color: rgb(255, 69, 0);
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: .2em;
}

header a:hover {
    color: rgb(128, 128, 128);
    transition: 500ms ease;
}

/* Navigation */

.main-nav {
    float: right;
    line-height: 30px;
}

.main-nav li {
    padding: 0 4rem 0 2rem;
    list-style: none;
    display: inline-block;
}

/* Home Hero */

#home-hero {
    grid-area: home-hero;
    background: url(img/showcase.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

#home-hero .showcase {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 35vh 5vw;
}

/* What We Do */

#services {
    grid-area: services;
    height: 100vh;
    background: rgb(255, 255, 255);
    padding-bottom: 5em;
}

#services .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.4em;
    width: 75vw;
    margin: auto;
    padding: 1.5em;
}

.box {
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    
}

#services .blurb {
    text-align: center;
    font-size: 2rem;
    margin-top: 2em;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}

/* See Our Work */

#portfolio {
    grid-area: portfolio;
    height: 100vh;
    background: rgb(211, 211, 211);
}

#portfolio .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.4em;
    width: 80vw;
    margin: auto;
}

#portfolio img {
   width: 100%;
   box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

#portfolio .caption {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

/* Get Started */

#invite {
    grid-area: invite;
    height: 100vh;
    background: rgb(255, 255, 255);
}

#invite .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
    margin: auto;
}

.price-box {
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    width: 30vw;
    height: 50vh;
}

.price-box h4 {
    font-size: 2.5rem;
}

.price-box .price {
    font-size: 3.5rem;
}

.price-box .btn {
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1em;
    transition: background 200ms ease;
}

.price-box a:hover {
    background: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}


/* Connect */

#connect {
    grid-area: connect;
    background: rgb(211, 211, 211);
    min-height: calc(100vh - 50px);
}

#connect .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80vw;
    margin: auto;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    background: white;
}

#connect .company-info {
    text-align: left;
    background: rgb(238, 237, 237);
    font-size: 1.4em;
    padding: 1.5em;
}

#connect .company-info span {
    color: rgb(255, 69, 0);
}

#connect .company-info ul {
    list-style: none;  
    padding: 0;
}

#connect .contact {
    padding: 2em;
}

.contact form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
}
  
.contact form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.contact form p {
    margin: 0;
}

.contact form .message,
.submit {
    grid-column: 1 / 3;
}

.contact form input {
    width: 90%;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
}

.contact form textarea {
    width: 95%;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
}

.contact button {
    border: none;
    padding: 1em;
    font-size: 1.2rem;
    text-decoration: none;
    width: 100%;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    margin: auto;
    transition: background 500ms ease;
}

.contact button:hover {
    background: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}

/* Footer */

footer {
    grid-area: footer;
    text-align: center;
    height: 50px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin-bottom: 0;
}

/* Media Queries */

@media screen and (max-width: 1024px) {

    .main-nav li {
        padding: 0 1.5rem;
    }

    #services {
        height: auto;
    }

    #services .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #portfolio {
        height: auto;
        padding-bottom: 6em;
    }

    #portfolio .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #portfolio .caption {
        display: none;
    }

    #invite {
        height: auto;
        padding-bottom: 6em;
    }

    #invite .grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .price-box {
       width: 65vw;
       height: 25em;
       margin: auto;
       padding: 1rem 0.5rem;
    }

    #connect {
        height: auto;
        padding-bottom: 2em;
    }

    #connect .grid {
        grid-template-columns: 1fr;
    }

    .contact form {
        display: block;
    }

    .contact form input,
    .contact form textarea {
        width: 95%;
        padding: 1em;
        border: 1px solid rgb(0, 0, 0);
    }

    .contact form p {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {

    #services .blurb {
        font-size: 1.5rem;
    }

    .price-box {
        height: 20em;
    }

    .price-box h4 {
        font-size: 2rem;
    }
    
    .price-box .price {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    
    header h1 {
        font-size: 1.2rem;
        line-height: 35px;
        margin-left: 1rem;
    }

    #home-hero .showcase {
        font-size: 1.5rem;
    }

    .section-head {
        font-size: 1.8rem;
    }

    #services .grid {
        grid-template-columns: 1fr;
    }

    .price-box h4 {
        font-size: 1.5rem;
    }
    
    .price-box .price {
        font-size: 2rem;
    }

    #portfolio .grid {
        grid-template-columns: 1fr;
    }

    #connect .company-info {
        padding: 0.8em;
    }

    #connect .contact {
        padding: 1em;
    }

    .contact form input,
    .contact form textarea {
        width: 87%;
    }

    footer p {
        font-size: 0.7rem;
        line-height: 30px;
    }
}